{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block top_div_extra_class %}jumbotron{% endblock %}

{% block top_div_extra_content %}

    <div id="logo_div" class="ui text container">
        <img id="jumbo_logo" src="{% static 'img/hsgs_logo_long.png' %}" alt="Trường THPT Chuyên KHTN - HSGS">
    </div>

{% endblock %}

{% block content %}

    <!-- Annoucement  -->
    {% if announcement %}
    <div style="margin:auto;" class="segment-container ui segment full-width">
        <div class="ui header">
            <p>Announcement</p>
        </div>
        <div class="container-content">
            <div class="center aligned column">
                {{ announcement | safe }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="home-wrap">
        <front-page-competitions></front-page-competitions>

        <!-- Stats section -->
        <div class="ui three column grid" id="general-stats">
            <!-- Public Competitions -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.public_competitions }}</div>
                    <div class="label">Public Competitions</div>
                </div>
            </div>
            <!-- Users -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.users }}</div>
                    <div class="label">Users</div>
                </div>
            </div>
            <!-- Submissions -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.submissions }}</div>
                    <div class="label">Submissions</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_body %}
    <script>
        // Prevent buttons from stacking in mobile view
        $(window).resize(function () {
            if ($(window).width() < 390) {
                return $('.pages')
                    .removeClass('huge')
                    .addClass('large');
            }
            $('.pages')
                .removeClass('large')
                .addClass('huge');
        }).trigger('resize');
    </script>
{% endblock %}
